body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
    padding: 20px 0px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
header{
    margin-bottom: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.container{
    padding: 0px 20px;
}
input{
    border: 1px solid #607d8b;
}
input[type="submit"]:hover{
    cursor: pointer;
}
#notes{
    padding: 10px 20px;
    list-style-type: none;
}
#notes li:hover{
    background: #607d8b;
    color: #fff;
    cursor: pointer;
}
#content{
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 1px solid #607d8b;
    padding: 20px 0px;
}